.center {
  margin-top: 30px;
  margin-left: 33%;
}
.check {
  margin-left: 43%;
}
.space {
  margin-bottom: 30px;
}
.button {
  font-size: 26px;
  margin-left: 25%;
  margin-top: 50px;
  padding: 10px;
}
