<div class="move">
  <div class="row">
   <h2 class="col-md-4">Your Accounts</h2>
    <button class="col-md-2 btn ml-auto addButton" (click)="addAccount()">Add New Account</button>
  </div>
  <div class="col-md-6">
    <div class="col-auto row outline p-0" *ngFor="let account of accountsArray">
      <div class="col-md-3 spacer"><b>{{account.name}}</b></div>
      <div class="col-md-3 spacer"><b>{{account.userName}}</b></div>
      <div class="col-md-3 rightMost"><b>{{account.password}}</b></div>
      <button class="btn col-md-3 editButton" (click)="onEdit(account.id)">Edit</button>
    </div>
    <br>
  </div>
</div>
