<div class="center col-md-3" [formGroup]="loginForm">
  <img width="400" class="title" src="assets/copyt.logo.png">
  <p class="desc col-md-11" >List your products widely and quickly to ensure a fast sale.</p>
  <div class="form-group">
    <input placeholder="Email" formControlName="email" class="form-control pad bold">
  </div>
  <div class="form-group">
    <input placeholder="Password" [type]="show ? 'password':'text'" formControlName="word" class="form-control pad bold">
    <div type="button" class="pull-right" (click)="show = !show">show password</div>
  </div>
  <br>
  <button type="submit" class="btn buttons" [disabled]="!loginForm.valid" (click)="signIn()">Sign In</button>
  <button type="submit" class="btn  pull-right buttons" [disabled]="!loginForm.valid" (click)="signUp()">Sign Up</button>
  <label class="error">{{errorMessage}}</label>
  <p class="terms col-md-10" >By signing up or logging in, you agree to our Terms & Conditions, and Privacy Policy</p>
</div>
