.center {
  margin-top: 100px;
  margin-left: 39%;
}

.pad {
  padding: 20px;
  width: 367px;
}

.buttons {
  font-size: 20px;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom:  10px;
}

.bold {
  font-weight: bolder;
}

.show {
  margin-left: 270px;
}

.title {
  margin-left: 70px !important;
  margin-bottom: 20px !important;
  font-weight: bolder;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.desc {
  text-align: center;
  margin-bottom: 30px !important;
  font-weight: bold;
  font-size: small;
}

.terms {
  text-align: center;
  margin-top: 30px !important;
  font-weight: bold;
  font-size: smaller;
  color: gray;
}
