<div class="center col-md-4" [formGroup]="loginForm">
  <h2 class="title">Welcome To Breadwinner</h2>
  <div class="form-group">
    <input placeholder="User Name" formControlName="userName" class="form-control pad bold">
  </div>
  <div class="form-group">
    <input placeholder="Password" [type]="show ? 'password':'text'" formControlName="word" class="form-control pad bold">
    <div type="button" class="show" (click)="show = !show">show password</div>
  </div>
  <button type="button" class="btn btn-primary buttons" [disabled]="!loginForm.valid" (click)="signIn()">Sign In</button>&nbsp;
  <button type="submit" class="btn btn-primary buttons" [disabled]="!loginForm.valid" (click)="signUp()">Sign Up</button>
</div>
