
.center {
  margin-left: 25%;
  margin-top: 20px;
}

.bold {
  font-weight: bold;
}

.continue {
  font-size: 20px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: darkmagenta;
  color: lightgray;
}
