<div class="center col-md-4" [formGroup]="accountForm" *ngIf="isLoaded">
  <h1 *ngIf="!isEdit">Add New Contact</h1>
  <h1  *ngIf="isEdit">Edit Contact</h1>
  <div class="form-group">
    <select *ngIf="!isEdit" formControlName="name" required class="form-control select bold">
      <option [value]="null" selected hidden>Platform</option>
      <option  *ngFor="let name of accountNames" [value]="name">{{name}}</option>
    </select>
    <select *ngIf="isEdit" formControlName="name" required class="form-control select bold">
      <option [value]="null" selected hidden>Platform</option>
      <option  [value]="account.name">{{account.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <input placeholder="Username / Email" required formControlName="userName" class="form-control pad bold">
  </div>
  <div class="form-group">
    <input placeholder="Password" required [type]="show ? 'password':'text'" formControlName="word" class="form-control pad bold">
    <div type="button" class="pull-right" (click)="show = !show">show password</div>
  </div>
  <br>
  <button type="button" class="btn btn-primary cancel" (click)="onCancel()">Cancel</button>
  <button type="submit" class="btn btn-primary save pull-right" [disabled]="!accountForm.valid" (click)="onSave()">Save</button>
</div>
