.center {
  margin-top: 30px;
  margin-left: 33%;
}

.pad {
  padding: 20px;
}

.cancel {
  font-size: 20px;
  padding-left: 53px;
  padding-right: 53px;
  padding-top: 10px;
  padding-bottom:  10px;
}

.save {
  font-size: 20px;
  padding-left: 62px;
  padding-right: 62px;
  padding-top: 10px;
  padding-bottom:  10px;
}

.select {
  height: 40px;
}

.bold {
  font-weight: bolder;
}

.show {
  margin-left: 253px;
}
