<nav class="navbar mavbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <b class="navbar-brand" class="title" >Breadwinner</b>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a class="spacer options" (click)="toAccounts()">Accounts</a></li>
        <li routerLinkActive="active"><a class="options" (click)="toPost()">Create New Listing</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="bold" routerLink="">Signout</a> </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
